.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}
ul ,li {
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4 {
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
}
.container {
	width: 1040px;
	margin: 0 auto;
}

/*========================main css=========================*/
.logo {
	text-align: center;
	padding-top: 35px;
	padding-bottom: 30px;
}
.site-nav ul {
	text-align: center;

}
.site-nav ul li {
	display: inline-block;
	list-style: none;
	padding: 10px 80px;
	color: #000 ;

}

.site-nav ul li:hover {
	color: #EF4D27;
}
nav::after {
	position: absolute;
	content: '';
	width: 78%;
	left:11%;
	border-bottom: 2px solid #9aafa4;
}

section.banner{
	width: 100%;
	margin-top: 100px;
}

.banner-image {
	width: 60%;
	float: left;
	position: relative;
}
.banner-content{
	width: 38%;
	float: right;
	position: relative;
}
.banner-content h1 {
	color: #EF4D27;
	letter-spacing: 3px;
	margin-top: 30px;
	position: relative; 

}
.banner-content a {
	color: #EF4D27;
	text-decoration: none;
	
}
.banner-content p {
	line-height: 26px;
	font-size: 15px;
}
.banner-content h1::after {
	position: absolute;
	content: '';
	width: 20%;
	left: 0;
	border-bottom: 2px solid #9aafa4;
	bottom: -10px;
}

.banner-content::before {
	position: absolute;
	content: '';
	background:  url('./images/make-a-reservation.png') no-repeat;
	left: 84%;
	width: 100px;
	height: 200px;
}

.banner-image::before {
	position: absolute;
	content: '';
	background:  url('./images/Waves1.png') no-repeat;
	height: 100px;
	width: 400px;
	left: -16%;
	top: -5%;
}

.subscribe {
	margin-top: 100px;
	background-color: #9aafa4;
	padding: 108px 0;
}

.subscribe .subscribe-content {
	width: 23%;
	display: inline-block;
}

.subscribe .subscribe-form {
	float: right;
	width: 70%;
	padding: 20px;
}
.subscribe-content h2 {
	position: relative;
	color: #fff;
}

.subscribe-content h2::after {
	position: absolute;
	content: '';
	width: 20%;
	left:0;
	top: 39px;
	border-bottom: 2px solid #fff;
}
.subscribe-content h6 {
	color: #fff;
}
.subscribe-form input[type="text"],input[type="email"]
{
	background-color: transparent;
	border: 1px solid white;
	padding: 10px 20px;
}


.subscribe-form-input {
	display: inline-block;
	margin-right: 10px; 
}
::-webkit-placeholder {
   opacity: 1;
   font-size: 10px;
}

::-moz-placeholder {
   opacity: 1;
   font-size: 12px;
   color: white;
   letter-spacing: 1px;
}

 .btn {
	padding: 10px 15px;
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;

}
